/*Header*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        justify-content: space-between;
    }
/*End header*/
/*Gio hang*/
/*end gio hang*/
/*body*/
.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

    .menu .box-container .box {
        flex: 1 1 30rem;
        text-align: center;
        padding: 2.2rem;
        border: .1rem solid rgba(0,0,0,.3);
        border-radius: .5rem;
        overflow: hidden;
        position: relative;
    }

        .menu .box-container .box .image {
            position: relative;
            text-align: center;
            padding-top: 15px;
            overflow: hidden;
        }

            .menu .box-container .box .image .icons {
                position: absolute;
                top: .5rem;
                right: -6rem;
            }

                .menu .box-container .box .image .icons a {
                    display: block;
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.5rem;
                    font-size: 1.7rem;
                    color: deeppink;
                    background: var(--green2);
                    border-radius: 50%;
                    margin-top: .7rem;
                }

            .menu .box-container .box .image:hover .icons {
                right: 1rem;
            }


            .menu .box-container .box .image img {
                vertical-align: middle;
                border-style: none;
                height: 180px;
            }

        .menu .box-container .box:hover .image img {
            transform: scale(1.05);
        }

        .menu .box-container .box .content {
            text-align: center;
            background-color: white;
            border-radius: 5px;
        }

            .menu .box-container .box .content h3 {
                font-size: 25px;
                color: var(--orange);
                font-weight: bolder;
                padding-top: 16px;
            }

            .menu .box-container .box .content p {
                font-size: 20px;
                color: var(--orange);
                font-weight: bold;
            }
/*end body*/

/*DMSP*/

/*DMSP*/
.Cont{
    background-image:url(/img/backgroup.jpg);
    border: 1px solid;

}